body {
    background: #dfdfdf; 
}

p {
    color: #222;
}

.foto-principal {
    width: 150px;
    border: 5x double #ffffff;
    /* border é a abreviação "shorthand", mesma coisa que:
    border-width: 5px;
    border-style: double;
    border-color: black;
    importante manter essa ordem
    */
    border-radius: 50%;
    margin: 30px 30px 30px 30px;
    /*
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 500px;*/

   
}